html, body {
    height: 190%;
} 


body {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }





.container{
    height: 100vh;
    
    

}

#first{
    background: #1F2937;
    
}


.first-logo{
    text-align:left;
    margin-left: 10%;
    margin-bottom: 10%
}

.first-logo span{
    float:right;
    margin-right: 10%;

}

.first-para{
    text-align:left;
    margin-left: 10%;
    
}

.first-para span{
    float:right;
    margin-right: 10%;
    width: 400px;
    height: 200px;
    background-color: gray;
    
}
#second{
    background: White;
}

.second-para{
    text-align: center;
    margin-top: 10%;
}

.second-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.second-div{

}

.second-text{
    text-align: center;
}

.second-box{
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: red;
    
}

#third{
    background: #E5E7E3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
   
}


.third-head{
    /*text-align: center;*/
    align-self: center;
    margin: 30px;
    border: 1px;
    padding: 10px;
    
    
    
}

.third-para{
    /*text-align: right;*/
    margin-left: 30%;
    
    align-self:center
    
    
    
}
#fourth{
    background: White;
    
}

#footer{
    background: #1F2937;
    height: 50vh;
}
